<ion-header>
  <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=/carga">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    
  </ion-header>

  <div id="container">
    <img src="assets/icon/carro.png" width="100px" height="100px">
    
    <h1><strong>MARKETPLACE</strong></h1>

    
  </div>
  <div id="pie">
    <img src="../assets/img/image2.jpg" width="50px" height="50px">
    <p>Powered by<br>Tayka</p>

  </div>
  
 
</ion-content>
