#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 35px;
  line-height: 26px;
  color: #686868;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background:#EDECEC;
} 
#pie{
  position: relative;
  margin-top: 500px;
  height: 40px;
  padding:5px 0px;
  clear: both;
  text-align: center;
  color: #B0AEAE;
  

}

