<ion-header>
  <ion-toolbar>
    <ion-button slot='start' fill='clear' routerLink='/inicio'>
      <ion-icon style="color:#fff; font-size: 25px" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p></p>
  <img  class='icon' src="assets/icon/carro.png" alt="">
  
  
  <p align="center">
    <ion-note color="dark" > MARKETPLACE</ion-note> 
  </p>
  
  <p align="center">
    <ion-note color="dark" > Use your account</ion-note> 
  </p>
  

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button style="color:#002E63" color='#002E63' fill="outline"  (click)="onSubmitLogin()" expand="block">Sign in</ion-button>
  

  <p align="center">
    <ion-note color="dark" > Olvidaste tu contraseña?</ion-note> 
  </p>
 

</ion-content>