ion-content{
    --background : #dae1e4
  }

  ion-item{
    --background : #dae1e4
  }

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  ion-toolbar{
    --background : #002E63
  }

  ion-title {
      
    color : #ffffff
    
  }
