<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>  
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compras">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Mis compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  

 

</ion-tabs>
