<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" fill="clear" (click)='presentActionSheet()'>
      <ion-icon style="color:#fff" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor = 'let product of productos' (click)='openProducto(product)'>
      <ion-avatar slot='start'>
        <ion-img [src]="product.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h1><b>{{product.tipo}}</b></h1>
        
      </ion-label>
    </ion-item>
    
  </ion-list>
  
</ion-content>
