<ion-header>
  <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=/inicio">
</ion-header>

<ion-content>
  <div class="precarga">
	
    <img src="../assets/img/loader.gif" alt="texto descriptivo" /><br><br>
    <img src="../assets/img/image2.jpg" width="100px" height="100px">
	
  </div>
</ion-content>
