<ion-header>
  
</ion-header>

<ion-content [fullscreen]="true">
  

  

  <pre><div class="video-responsive"><iframe src="../assets/video/video.mp4" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div></pre>
  <h2>Let's do it <br>together</h2><br>


  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class='sign up' shape="round" routerLink='/login'>
          <ion-label>Sign up</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>Al ready have an account? <a routerLink='/registro'>Sign in</a></p>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class='facebook' shape="round" (click)='loginFacebook()' >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Ingresa con Facebook</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  expand="block" class='google' shape="round" (click)='loginGoogle()'>
          <ion-icon name="logo-google"></ion-icon>
          <ion-label>Ingresa con Gmail</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
