    .google{
    --background : #DB4437
  }
  
    .facebook{
    --background : #002E63
  }
  
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 35px;
    line-height: 26px;
    color: #686868;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content{
    --background:#EDECEC;
  } 
  
  .video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    }