<ion-header>
  <ion-toolbar>
    <ion-button slot='start' fill='clear' routerLink='/inicio'>
      <ion-icon style="color:#fff; font-size: 25px" name="chevron-back"></ion-icon>
    </ion-button>
    <p align="center">
    <ion-title>
      Atras
    </ion-title>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form onsubmit="processForm(event)">
    <p></p>
      
    

    

    <p align="center">
      <ion-note color="light" >create your new account</ion-note>
    </p>
      
    <ion-card> 

      <ion-list lines="full" class="ion-no-margin ion-no-padding">
      
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]='email' name="email"></ion-input>
        </ion-item>
    
    
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]='password' name="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre completo</ion-label>
          <ion-input type="text" [(ngModel)]='name' name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido completo</ion-label>
          <ion-input type="text" [(ngModel)]='secondname' name="secondname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Telefono</ion-label>
          <ion-select >
            <ion-select-option value="ar">+54</ion-select-option>
            <ion-select-option value="bo">+591</ion-select-option>
            <ion-select-option value="br">+55</ion-select-option>
            <ion-select-option value="chi">+56</ion-select-option>
            <ion-select-option value="col">+57</ion-select-option>
            <ion-select-option value="ecu">+593</ion-select-option>
          </ion-select>
          <ion-input type="number" [(ngModel)]='telefono' name="telefono"></ion-input>
        </ion-item>


<!--

        <ion-item>
          <ion-label position="floating">
            Numero de telefono
          </ion-label>
          <ion-input type="number" [(ngModel)]='telefono' name="telefono"></ion-input>
        </ion-item>

-->
        
        

        <ion-item>
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY"></ion-datetime>
          <!--
            <ion-input type="text" [(ngModel)]='fecha' name="fecha"></ion-input>
          -->
          
        </ion-item>

        <ion-item>
          <ion-label>Genero</ion-label>
          <ion-select >
            <ion-select-option value="f">Femenino</ion-select-option>
            <ion-select-option value="m">Masculino</ion-select-option>
          </ion-select>
          <ion-input type="text" [(ngModel)]='sexo' name="sexo"></ion-input>
          
        </ion-item>

    
      </ion-list>
    </ion-card> 

    <p align="center"> 
      <ion-note color="light" >By proceeding you also agree to the Terms</ion-note>
    </p>
    <p align="center"> 
        <ion-note color="light" > of Service and Privacy Policy</ion-note> 
    </p>

    <ion-item>
      <ion-label>Acepto ser informado sobre novedades y recibir comunicaciones personalizadas</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <p>
    <ion-button style="color:#002E63" background="color:#002E63" expand="block" size="large" fill="outline" (click)='OnSubmitRegister()'>Registrarse</ion-button>

    
    </p>

  </form>


  <p align="center"> 
    <ion-note color="light" > Ya tienes cuenta? Ingresa ahora!</ion-note> 
  </p>
  




</ion-content>
