#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content{
    --background : #dae1e4
  }
  
  ion-item{
    --background : #dae1e4
  }
  
  .google{
    --background : #DB4437
  }
  
  .facebook{
    --background : #002E63
  }
  
  ion-toolbar{
    --background : #002E63
  }

  ion-title {
    color : #ffffff
  }

  
